{% extends 'admins/bases.html' %} {% block content %}
<div class="absolute top-0 left-0 w-4/6 mx-auto">
  <h1>Admin Panel</h1>
  <div class="mt-5 p-5">
    <h1>Add Users</h1>
    <form method="post">
      {% csrf_token %}
      <label for="Username ">UserName</label>
      <input type="text" name="username" required />
      <div>
        <label for="email ">email</label>
        <input type="text" name="email" required />
      </div>
      <div>
        <label for="password1 ">password1</label>
        <input type="text" name="password1" required />
      </div>
  
      <div>
        <label for="phone_number ">phone_number</label>
        <input type="text" name="phone_number" required />
      </div>
      <div>
        <label for="role ">role</label>
        <input type="text" name="role" required />
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
