{% extends 'admins/bases.html' %} {% block content %}
<div class="absolute top-0 left-0 w-4/6 mx-auto">
  <h1>All Users Panel</h1>
  <div class="mt-5 p-5">
    <a href="{% url 'createusers' %}">Add Users</a>
    <table class="table border">
      <thead>
        <tr>
          <th>id</th>
          <th>Username</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th>{{ user.id }}</th>
          <th>{{ user.username }}</th>
          <th>{{ user.email }}</th>
          <th>{{ user.phone_number }}</th>
          <th>{{ user.role }}</th>
          <!--  -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
