{% extends 'base.html' %} {% load static %}
<!-- include base.html -->
<!-- Main News Slider Start -->
{% block content %}

<div class="container">
  <div class="row">
    <div class="container col-lg-12 px-0">
      <div class="owl-carousel main-carousel position-relative">
        {% for news in slider %}
        <div class="position-relative overflow-hidden" style="height: 500px">
          <img
            class="img-fluid h-100"
            src="{{ news.image.url }}"
            style="object-fit: cover"
          />
          <div class="overlay">
            <div class="mb-2">
              <a
                class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                href=""
                >{{ news.category }}</a
              >
              <a class="text-white" href="">{{news.pub_date}}</a>
            </div>
            <a
              class="h2 m-0 text-white text-uppercase font-weight-bold"
              href="{% url 'single' news.id %}"
              >{{ news.title }}</a
            >
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</div>
<!-- Main News Slider End -->

<!-- News With Sidebar Start -->
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h4 class="m-0 text-uppercase font-weight-bold">All Categories</h4>
            </div>
          </div>
          {% for news in categories %}
          <div class="col-lg-4">
            <div class="position-relative mb-3">
              
              <div class="bg-white border border-top-0 p-4">
                <a
                  class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold"
                  href="{% url 'categories' news.id %}"
                  >{{news.name}}</a
                >
              </div>
            </div>
          </div>
          {% endfor %}

          <div class="col-12 mt-5">
            <div class="section-title">
              <h4 class="m-0 text-uppercase font-weight-bold">Featured News</h4>
              <a
                class="text-secondary font-weight-medium text-decoration-none"
                href=""
                >View All</a
              >
            </div>
          </div>
          {% for news in featured %}
          <div class="col-lg-4">
            <div class="position-relative mb-3">
              <img
                class="img-fluid w-100"
                src="{{ news.image.url }}"
                style="object-fit: cover"
              />
              <div class="bg-white border border-top-0 p-4">
                <div class="mb-2">
                  <a
                    class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                    href=""
                    >{{news.category}}</a
                  >
                  <a class="text-body" href=""
                    ><small>{{news.pub_date}}</small></a
                  >
                </div>
                <a
                  class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold"
                  href="{% url 'single' news.id %}"
                  >{{news.title}}</a
                >
              </div>
              <div
                class="d-flex justify-content-between bg-white border border-top-0 p-4"
              >
                <div class="d-flex align-items-center">
                  <img
                    class="rounded-circle mr-2"
                    src="{% static 'img/user.jpg' %}"
                    width="25"
                    height="25"
                    alt=""
                  />
                  <small>John Doe</small>
                </div>
                <div class="d-flex align-items-center">
                  <small class="ml-3"
                    ><i class="far fa-eye mr-2"></i>12345</small
                  >
                  <small class="ml-3"
                    ><i class="far fa-comment mr-2"></i>123</small
                  >
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

          <div class="col-12">
            <div class="section-title">
              <h4 class="m-0 text-uppercase font-weight-bold">Latest News</h4>
              <a
                class="text-secondary font-weight-medium text-decoration-none"
                href=""
                >View All</a
              >
            </div>
          </div>
          {% for news in blogs %}
          <div class="col-lg-6">
            <div class="position-relative mb-3">
              <img
                class="img-fluid w-100"
                src="{{ news.image.url }}"
                style="object-fit: cover"
              />
              <div class="bg-white border border-top-0 p-4">
                <div class="mb-2">
                  <a
                    class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                    href=""
                    >{{news.category}}</a
                  >
                  <a class="text-body" href=""
                    ><small>{{news.pub_date}}</small></a
                  >
                </div>
                <a
                  class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold"
                  href="{% url 'single' news.id %}"
                  >{{news.title}}</a
                >
              </div>
              <div
                class="d-flex justify-content-between bg-white border border-top-0 p-4"
              >
                <div class="d-flex align-items-center">
                  <img
                    class="rounded-circle mr-2"
                    src="{% static 'img/user.jpg' %}"
                    width="25"
                    height="25"
                    alt=""
                  />
                  <small>John Doe</small>
                </div>
                <div class="d-flex align-items-center">
                  <small class="ml-3"
                    ><i class="far fa-eye mr-2"></i>12345</small
                  >
                  <small class="ml-3"
                    ><i class="far fa-comment mr-2"></i>123</small
                  >
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- News With Sidebar End -->

  {% endblock %}
</div>
